@model Portal.Models.Profile
@using Portal.Helpers

<div class="mb-3">
  @Html.TextBoxFor(profile => profile.FirstName, Themes.FormControlStyle)
  @Html.ValidationMessageFor(profile => profile.FirstName, "", Themes.FormErrorMsgStyle)
</div>

<div class="mb-3">
  @Html.TextBoxFor(profile => profile.Surname, Themes.FormControlStyle)
  @Html.ValidationMessageFor(profile => profile.Surname, "", Themes.FormErrorMsgStyle)
</div>

<div class="mb-2">
  @Html.TextBoxFor(profile => profile.BirthDate, Themes.FormControlStyle)
  @Html.ValidationMessageFor(profile => profile.BirthDate, "", Themes.FormErrorMsgStyle)
</div>

<p class="text-secondary">
  Ваша учетная запись создана<br />
  Для завершения регистрации необходимо заполнить ваши персональные данные<br />
</p>

<p><small><i class="text-muted">
  Нажимая кнопку отправить, вы даете согласие<br />на их хранение и обработку
</p></i></small>